{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Mata Mosquito</title>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
    <script src="{% static 'js/jogo.js' %}"></script>
</head>
<body onresize="palcoDoJogo()">
    <div class="container" >
        <div class="vidas">
            <img id ="v1" src="{% static 'images/coracao_cheio.png' %}" alt="Coração Cheio"/>
            <img id ="v2" src="{% static 'images/coracao_cheio.png' %}" alt="Coração Cheio"/>
            <img id ="v3" src="{% static 'images/coracao_cheio.png' %}" alt="Coração Cheio"/>
            <img id ="v4" src="{% static 'images/coracao_cheio.png' %}" alt="Coração Cheio"/>
            <img id ="v5" src="{% static 'images/coracao_cheio.png' %}" alt="Coração Cheio"/>
        </div>

        <div class="cronometro">Tempo restante: <span id="cronometro"></span></div>
    </div>

    <!-- Função random Mosquito-->
    <script>
    document.getElementById('cronometro').innerHTML = tempo

    var criaMosquito = setInterval(function() {
        posicaoMosquito()
    }, mosquitoTempo)
    </script>
</body>
</html>
