html {
    cursor: url("{% static 'images/mata_mosca.png' %}") 30 30, auto;
}

body {
    margin: 0px;
    background-image: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
/*Dimensões do Mosquito*/
.mosquito1 {
    width: 50px;
    height: 50px;
}

.mosquito2 {
    width: 70px ;
    height: 70px ;
}

.mosquito3 {
    width: 90px;
    height: 90px ;
}

/* Lados dos Mosquito */
.ladoA {
    transform: scaleX(1);
}

.ladoB {
    transform: scaleX(-1);
}

/* As Divs */
.container {
    position: absolute;
    width: 190px;
    padding: 10px;
    left: 0px;
    bottom: 0px;
    border-top: solid 1px #fff;
    background-color: #fff;
    opacity: 0.7;
}

.vidas {
    float: left;
}

.cronometro {
    float: left;
    font-size: 20px;
    font-weight: bold;
}

